.git
.github
.agents
.codex

**/.DS_Store
**/.coverage
**/.env*
**/.ruff_cache
**/__pycache__
**/*.egg-info
**/*.log*
**/*.py[cod]
**/build
**/dist
**/htmlcov
**/node_modules
**/screenshots
**/site

back/src/test
docs
front/cypress
front/cypress.config.js
front/vitest.setup.ts
nix
result*
script

**/config.toml
**/FAQ - Enter Here.csv
**/Other.txt
**/Permutated.csv*
