# gitignore
**/__pycache__/
**/.DS_Store
**/.coverage
**/htmlcov
**/.vscode
**/site
**/.ropeproject
**/.ruff_cache
**/.zed
**/.idea
**/result*
**/build/
**/dist/
**/*.egg-info
**/coverage
**/node_modules
**/.pnp
**/.pnp.js
**/.env*
**/*.log*
docs/front
