/* SPDX-FileCopyrightText: Collegiate Edu-Nation */
/* SPDX-License-Identifier: GPL-3.0-or-later */

.App-header {
  background-color: #282c34;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 2vh;
  gap: 64.5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.circle {
  width: 1.25vh;
  height: 1.25vh;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.green-circle {
  background-color: #05871d;
}

.red-circle {
  background-color: #82090b;
}
