/* SPDX-FileCopyrightText: Collegiate Edu-Nation */
/* SPDX-License-Identifier: GPL-3.0-or-later */

@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply rounded-md border-solid font-medium border-transparent border-1 hover:border-indigo-700 cursor-pointer p-2 transition delay-25;
}
